extends layout

block style
	link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
	link(href="https://fonts.googleapis.com/css?family=Proza+Libre" rel="stylesheet")
	link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css")
	link(rel="stylesheet" href="/stylesheets/photo.css")

block content
	#drop-area
		form#up_photo_form.upload-form.row(action=`/groups/${group.code}/upload` method="POST", data-code=group.code)
			.col-6
				.form-group.row
					label.col-3 Title: 
					input.col-9.form-control.form-control-sm.image_infor(type="text" name="title" required)
				.form-group.row
					label.col-3 Date: 
					input#dateUpload.col-9.form-control.form-control-sm.image_infor(type="date" name="date" required)
				.form-group.row
					label.col-3 Caption: 
					textarea.col-9.form-control.form-control-sm(name="caption" id="" cols="30" rows="2" required)
				.form-group.row
					button.form-control#up_photo_btn.btn.color-primary(type='submit') 
						i.fa.fa-upload 
						|  Upload
			.col-1
			.col-4
				.form-group.row
					label.col-3 Image:
					input.col-9#imgUpload.form-control.form-control-sm.text-center(type='file' name='image' required)
					img.img-preview.text-center
	// end chọn upload ảnh
	if group.photos 
		if group.photos.length > 0
			ul#photo-timeline.fs-timeline
				if dates.allDates
					each date, i in dates.allDates
						// Cho vòng lập ở đây
						li.fs-timeline-item
							.fs-timeline-item-line
							.fs-timeline-item-bullet
							p.fs-timeline-item-date= new Date(date).toLocaleDateString()
								br
							p.fs-timeline-item-description 
								br
								each photo in dates.allPhotosOnSameDay[i]
									img.img-timeline(src=photo.source style="height: 150px" data-title=photo.title data-caption=photo.caption data-date=new Date(photo.date).toLocaleDateString() data-author=photo.author.username)
		else
			h1
			h2.text-center No photo was uploaded
			// Kết thúc vòng lập
	// The Modal show picture
	#myModal.modal
		// Modal Content (The Image)
		img#img01.modal-content
		#imgInfo.color-primary.text-center
			br
			h4.row
				span.col-6
					span.float-right Title: 
				span.col-6
					span#modal-title.float-left Ahihi
			h4.row
				span.col-6
					span.float-right Author: 
				span.col-6
					span#modal-author.float-left Ahihi
			h4.row
				span.col-6
					span.float-right Date: 
				span.col-6
					span#modal-date.float-left 2018-05-06
			h4.row
				span.col-6
					span.float-right Caption: 
				span.col-6
					span#modal-caption.float-left "Lorem Ipsum Dolor Sit Amet"


block script
	script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
	script(src="/javascripts/photo.js")
